include ../components/head.pug
.container-xxl
  .authentication-wrapper.authentication-basic.container-p-y
    .authentication-inner
      // Register
      .card(style="max-width: 550px; margin: 200px auto")
        .card-body
          // Logo
          .app-brand.justify-content-center
            a.app-brand-link.gap-2(href='index.html')
              span.app-brand-logo.demo
                img(src=data.misc.logo alt="" style="max-width: 50%; margin: 0 auto")
              span.app-brand-text.demo.text-body.fw-bolder UArmor
          // /Logo
          h4.mb-2.mt-4 Ласкаво просимо! &#x1F44B;
          p.mb-4 Будь-ласка авторизуйтесь, щоб отримати доступ до панелі керування
          form#formAuthentication.mb-3(action='/admin/signin' method='POST')
            .mb-3
              label.form-label(for='email') Email 
              input#email.form-control(type='text' name='email' placeholder='Введіть вашу Email адресу' autofocus='')
            .mb-3.form-password-toggle
              .d-flex.justify-content-between
                label.form-label(for='password') Пароль
                a(href='auth-forgot-password-basic.html')
                  small Забули пароль?
              .input-group.input-group-merge
                input#password.form-control(type='password' name='password' placeholder='············' aria-describedby='password')
                span.input-group-text.cursor-pointer
                  i.bx.bx-hide
            .mb-3
              .form-check
                input#remember-me.form-check-input(type='checkbox')
                label.form-check-label(for='remember-me')  Запам'ятати мене 
            .mb-3
              button.btn.btn-primary.d-grid.w-100(type='submit') Увійти
    include ../components/footer-js.pug