include ../components/head.pug
.layout-wrapper.layout-content-navbar
  .layout-container
    include ../components/navigation.pug
    .layout-page
      include ../components/navbar.pug
      .content-wrapper
        // Content
        .container-xxl.flex-grow-1.container-p-y
          if data.orders
            h4.fw-bold.py-3.mb-4
              span.text-muted.fw-light Комментарии /
              |  Список комментариев
            hr.my-5
            h5.mb-4 Список
            .table-responsive.text-nowrap
              table.table.card-table
                thead
                  tr
                    th Название товара
                    th Дата
                    th Имя пользователя
                    th E-Mail
                    th Действия
                tbody.table-border-bottom-0
                  each comment in data.comments
                    tr
                      td
                        i.fab.fa-angular.fa-lg.text-danger.me-3
                        strong 
                          a( target="_blank" href='/store/' + comment.product.slug) #{comment.product.name}
                      td #{comment.date.toLocaleString('ru-RU', { timeZone: 'UTC' })}
                      td
                        ul.list-unstyled.users-list.m-0.avatar-group.d-flex.align-items-center
                          li.avatar.avatar-xs.pull-up(data-bs-toggle='tooltip' data-popup='tooltip-custom' data-bs-placement='top' title='Lilian Fuller') #{comment.name}
                      //- td
                      //-   if comment.rate === '1'
                      //-     span.badge.bg-label-danger.me-1
                      //-         <i class='bx bxs-star'></i>
                      //-   else if comment.rate === '2'
                      //-     span.badge.bg-label-danger.me-1
                      //-         <i class='bx bxs-star'></i>
                      //-         <i class='bx bxs-star'></i>
                      //-   else if comment.rate === '3'
                      //-     span.badge.bg-label-danger.me-1
                      //-         <i class='bx bxs-star'></i>
                      //-         <i class='bx bxs-star'></i>
                      //-         <i class='bx bxs-star'></i>
                      //-   if comment.rate === '4'
                      //-     span.badge.bg-label-danger.me-1
                      //-         <i class='bx bxs-star'></i>
                      //-         <i class='bx bxs-star'></i>
                      //-         <i class='bx bxs-star'></i>
                      //-         <i class='bx bxs-star'></i>
                      //-   if comment.rate === '5'
                      //-     span.badge.bg-label-success.me-1
                      //-         <i class='bx bxs-star'></i>
                      //-         <i class='bx bxs-star'></i>
                      //-         <i class='bx bxs-star'></i>
                      //-         <i class='bx bxs-star'></i>
                      //-         <i class='bx bxs-star'></i>
                      td
                        span #{comment.email}
                      td
                        .dropdown
                          form(action="/comment/delete/" + comment._id method="GET") 
                            button.btn.p-0.dropdown-toggle.hide-arrow(type='button' data-bs-toggle='dropdown')
                              i.bx.bx-dots-vertical-rounded
                            .dropdown-menu
                              button.dropdown-item(type="submit")
                                i.bx.bx-trash.me-1
                                |  Удалить
            .row.mb-5 
              .demo-inline-spacing
                nav(aria-label='Page navigation')
                  ul.pagination.justify-content-center
                    li.page-item.prev
                      a.page-link(href='javascript:void(0);')
                        i.tf-icon.bx.bx-chevrons-left
                    li.page-item
                      a.page-link(href='javascript:void(0);') 1
                    li.page-item
                      a.page-link(href='javascript:void(0);') 2
                    li.page-item.active
                      a.page-link(href='javascript:void(0);') 3
                    li.page-item
                      a.page-link(href='javascript:void(0);') 4
                    li.page-item
                      a.page-link(href='javascript:void(0);') 5
                    li.page-item.next
                      a.page-link(href='javascript:void(0);')
                        i.tf-icon.bx.bx-chevrons-right
          else 
            p(style="text-align: center; margin: 200px auto") На сайте пока нет комментариев
        .content-backdrop.fade
      // Content wrapper
    // / Layout page
  // Overlay
  .layout-overlay.layout-menu-toggle
    include ../components/footer-js.pug