include ../components/head.pug

#canvas
  #box_wrapper
    include ../components/navigation.pug
    .fw-page-builder-content
      section#section-7f5004f.ls.s-pt-60.s-pb-60.s-pt-md-90.s-pb-md-90.s-pt-xl-110.s-pb-xl-110
        h6.d-none section-7f5004f
        .container
          .row.align-center
            .col-xs-12.col-12
              .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(style='margin-top: 40px;')
            // .col-*
            .col-xs-12.col-12.col-lg-6
              .img-wrap.round
                img.round(src='/img/about/girl_with_gun-530x530.jpg' alt='/img/about/girl_with_gun-530x530.jpg' width='530' height='530')
              .fw-divider-space.divider-30.divider-lg-0
            // .col-*
            .col-xs-12.col-12.col-lg-6.text-center.text-sm-left
              h3.special-heading.text-center.text-sm-left
                span.big
                  mark Ласкаво просимо
                  br
                  |  до UArmor 
              .fw-divider-space.divider-30.divider-lg-40.divider-xxl-60
              .text-block
                p UArmor - надійний магазин військової амуніції та спецспорядження За короткий проміжок продуктивної роботи нами було реалізовано кілька десятків тисяч комплектів спеціального спорядження для військових та спецпризначенців. За довгі роки ми знайшли ефективний підхід до виробництва спеціалізованої продукції для справжніх чоловіків, що дозволяє нам гідно представляти нашу продукцію в економічному конкурентному просторі.
                blockquote
                  p.excerpt
                    | For over 30 years, has been at the forefront of cultural change, accelerating acceptance.
                  footer
                    h5
                      mark Володими Зеленський
                
              .fw-divider-space.divider-30.divider-lg-40.divider-xxl-60
            // .col-*
            .col-xs-12.col-12
              .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(style='margin-top: 40px;')
            // .col-*
      section#section-4331909.ds.s-pt-60.s-pb-60.s-pt-md-90.s-pb-md-90.s-pt-xl-110.s-pb-xl-110
        h6.d-none section-4331909
        .cover-image.ds.s-cover-right.s-cover-small(style='background-image: url("/img/about/federico-bottos-Z3NceSeZqgI-unsplash-scaled.jpg");')
          img(src='/img/about/federico-bottos-Z3NceSeZqgI-unsplash-scaled.jpg' alt='section-4331909')
        .container
          .row
            .col-xs-12.col-12.col-lg-6.text-center.text-sm-left
              .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(style='margin-top: 40px;')
              h3.special-heading.text-center.text-sm-left
                span.big
                  mark Чому варто
                  |  обрати нас
              .fw-divider-space.divider-20.divider-lg-30
              .fw-divider-line-styled.cs.left-line
              .fw-divider-space.divider-30.divider-lg-50.divider-xxl-70
              .text-block
                p
                  | The Military Market is young and active - in fact, over 43% are
                  | between 17-24 years of age. Advertising to the Military is also one of
                  | the best ways to engage hard to reach young men - who are very
                  | family-oriented.
                p
                  | Active military personnel are also 100% employed, with over $19 billion in total.
            // .col-*
            .col-xs-12.col-12
              .fw-divider-space.divider-30.divider-lg-50.divider-xxl-70
              .owl-carousel.owl-shadowitems.shortcode-service.bottom-left-nav.owl-loaded.owl-drag.owl-theme(data-loop='false' data-nav='true' data-dots='false' data-center='false' data-autoplay='false' data-speed='5000' data-responsive-xl='4' data-responsive-lg='3' data-responsive-md='2' data-responsive-sm='1' data-responsive-xs='1' data-margin='15')
                .owl-stage-outer
                  .owl-stage(style='transform: translate3d(-1185px, 0px, 0px); transition: all 0s ease 0s; width: 4148px;')
                    .owl-item.cloned(style='width: 281.25px; margin-right: 15px;')
                      .owl-carousel-item.shortcode.text-center(data-index='2')
                        .icon-box.text-center.ls.box-shadow
                          a(href='/uarmor/service/decoys/')
                            .icon-styled.fs-52
                              i.ico.ico-dart
                          h5.text-uppercase
                            a(href='/uarmor/service/decoys/')
                              mark Decoys
                          p The contents of this Web site may be browsed .
                          .btn-service
                            a.btn.btn-outline-darkgrey.only-link(href='/uarmor/service/decoys/')
                              | Learn More 
                              i.fa.fa-long-arrow-right(aria-hidden='true')
                    .owl-item.cloned(style='width: 281.25px; margin-right: 15px;')
                      .owl-carousel-item.shortcode.text-center(data-index='3')
                        .icon-box.text-center.ls.box-shadow
                          a(href='/uarmor/service/game-calls/')
                            .icon-styled.fs-52
                              i.ico.ico-granade
                          h5.text-uppercase
                            a(href='/uarmor/service/game-calls/')
                              mark Game calls
                          p The contents of this Web site may be browsed .
                          .btn-service
                            a.btn.btn-outline-darkgrey.only-link(href='/uarmor/service/game-calls/')
                              | Learn More 
                              i.fa.fa-long-arrow-right(aria-hidden='true')
                    .owl-item.cloned(style='width: 281.25px; margin-right: 15px;')
                      .owl-carousel-item.shortcode.text-center(data-index='4')
                        .icon-box.text-center.ls.box-shadow
                          a(href='/uarmor/service/guns/')
                            .icon-styled.fs-52
                              i.ico.ico-dog-tag
                          h5.text-uppercase
                            a(href='/uarmor/service/guns/')
                              mark Guns
                          p The contents of this Web site may be browsed .
                          .btn-service
                            a.btn.btn-outline-darkgrey.only-link(href='/uarmor/service/guns/')
                              | Learn More 
                              i.fa.fa-long-arrow-right(aria-hidden='true')
                    .owl-item.cloned(style='width: 281.25px; margin-right: 15px;')
                      .owl-carousel-item.shortcode.text-center(data-index='5')
                        .icon-box.text-center.ls.box-shadow
                          a(href='/uarmor/service/military/')
                            .icon-styled.fs-52
                              i.ico.ico-forma1
                          h5.text-uppercase
                            a(href='/uarmor/service/military/')
                              mark Military
                          p The contents of this Web site may be browsed .
                          .btn-service
                            a.btn.btn-outline-darkgrey.only-link(href='/uarmor/service/military/')
                              | Learn More 
                              i.fa.fa-long-arrow-right(aria-hidden='true')
                    .owl-item.active(style='width: 281.25px; margin-right: 15px;')
                      .owl-carousel-item.shortcode.text-center(data-index='0')
                        .icon-box.text-center.ls.box-shadow
                          a(href='/uarmor/service/archery/')
                            .icon-styled.fs-52
                              i.ico.ico-bow-and-arrow
                          h5.text-uppercase
                            a(href='/uarmor/service/archery/')
                              mark Archery
                          p The contents of this Web site may be browsed .
                          .btn-service
                            a.btn.btn-outline-darkgrey.only-link(href='/uarmor/service/archery/')
                              | Learn More 
                              i.fa.fa-long-arrow-right(aria-hidden='true')
                    .owl-item.active(style='width: 281.25px; margin-right: 15px;')
                      .owl-carousel-item.shortcode.text-center(data-index='1')
                        .icon-box.text-center.ls.box-shadow
                          a(href='/uarmor/service/blinds/')
                            .icon-styled.fs-52
                              i.ico.ico-icon2
                          h5.text-uppercase
                            a(href='/uarmor/service/blinds/')
                              mark Blinds
                          p The contents of this Web site may be browsed .
                          .btn-service
                            a.btn.btn-outline-darkgrey.only-link(href='/uarmor/service/blinds/')
                              | Learn More 
                              i.fa.fa-long-arrow-right(aria-hidden='true')
                    .owl-item.active(style='width: 281.25px; margin-right: 15px;')
                      .owl-carousel-item.shortcode.text-center(data-index='2')
                        .icon-box.text-center.ls.box-shadow
                          a(href='/uarmor/service/decoys/')
                            .icon-styled.fs-52
                              i.ico.ico-dart
                          h5.text-uppercase
                            a(href='/uarmor/service/decoys/')
                              mark Decoys
                          p The contents of this Web site may be browsed .
                          .btn-service
                            a.btn.btn-outline-darkgrey.only-link(href='/uarmor/service/decoys/')
                              | Learn More 
                              i.fa.fa-long-arrow-right(aria-hidden='true')
                    .owl-item.active(style='width: 281.25px; margin-right: 15px;')
                      .owl-carousel-item.shortcode.text-center(data-index='3')
                        .icon-box.text-center.ls.box-shadow
                          a(href='/uarmor/service/game-calls/')
                            .icon-styled.fs-52
                              i.ico.ico-granade
                          h5.text-uppercase
                            a(href='/uarmor/service/game-calls/')
                              mark Game calls
                          p The contents of this Web site may be browsed .
                          .btn-service
                            a.btn.btn-outline-darkgrey.only-link(href='/uarmor/service/game-calls/')
                              | Learn More 
                              i.fa.fa-long-arrow-right(aria-hidden='true')
                    .owl-item(style='width: 281.25px; margin-right: 15px;')
                      .owl-carousel-item.shortcode.text-center(data-index='4')
                        .icon-box.text-center.ls.box-shadow
                          a(href='/uarmor/service/guns/')
                            .icon-styled.fs-52
                              i.ico.ico-dog-tag
                          h5.text-uppercase
                            a(href='/uarmor/service/guns/')
                              mark Guns
                          p The contents of this Web site may be browsed .
                          .btn-service
                            a.btn.btn-outline-darkgrey.only-link(href='/uarmor/service/guns/')
                              | Learn More 
                              i.fa.fa-long-arrow-right(aria-hidden='true')
                    .owl-item(style='width: 281.25px; margin-right: 15px;')
                      .owl-carousel-item.shortcode.text-center(data-index='5')
                        .icon-box.text-center.ls.box-shadow
                          a(href='/uarmor/service/military/')
                            .icon-styled.fs-52
                              i.ico.ico-forma1
                          h5.text-uppercase
                            a(href='/uarmor/service/military/')
                              mark Military
                          p The contents of this Web site may be browsed .
                          .btn-service
                            a.btn.btn-outline-darkgrey.only-link(href='/uarmor/service/military/')
                              | Learn More 
                              i.fa.fa-long-arrow-right(aria-hidden='true')
                    .owl-item.cloned(style='width: 281.25px; margin-right: 15px;')
                      .owl-carousel-item.shortcode.text-center(data-index='0')
                        .icon-box.text-center.ls.box-shadow
                          a(href='/uarmor/service/archery/')
                            .icon-styled.fs-52
                              i.ico.ico-bow-and-arrow
                          h5.text-uppercase
                            a(href='/uarmor/service/archery/')
                              mark Archery
                          p The contents of this Web site may be browsed .
                          .btn-service
                            a.btn.btn-outline-darkgrey.only-link(href='/uarmor/service/archery/')
                              | Learn More 
                              i.fa.fa-long-arrow-right(aria-hidden='true')
                    .owl-item.cloned(style='width: 281.25px; margin-right: 15px;')
                      .owl-carousel-item.shortcode.text-center(data-index='1')
                        .icon-box.text-center.ls.box-shadow
                          a(href='/uarmor/service/blinds/')
                            .icon-styled.fs-52
                              i.ico.ico-icon2
                          h5.text-uppercase
                            a(href='/uarmor/service/blinds/')
                              mark Blinds
                          p The contents of this Web site may be browsed .
                          .btn-service
                            a.btn.btn-outline-darkgrey.only-link(href='/uarmor/service/blinds/')
                              | Learn More 
                              i.fa.fa-long-arrow-right(aria-hidden='true')
                    .owl-item.cloned(style='width: 281.25px; margin-right: 15px;')
                      .owl-carousel-item.shortcode.text-center(data-index='2')
                        .icon-box.text-center.ls.box-shadow
                          a(href='/uarmor/service/decoys/')
                            .icon-styled.fs-52
                              i.ico.ico-dart
                          h5.text-uppercase
                            a(href='/uarmor/service/decoys/')
                              mark Decoys
                          p The contents of this Web site may be browsed .
                          .btn-service
                            a.btn.btn-outline-darkgrey.only-link(href='/uarmor/service/decoys/')
                              | Learn More 
                              i.fa.fa-long-arrow-right(aria-hidden='true')
                    .owl-item.cloned(style='width: 281.25px; margin-right: 15px;')
                      .owl-carousel-item.shortcode.text-center(data-index='3')
                        .icon-box.text-center.ls.box-shadow
                          a(href='/uarmor/service/game-calls/')
                            .icon-styled.fs-52
                              i.ico.ico-granade
                          h5.text-uppercase
                            a(href='/uarmor/service/game-calls/')
                              mark Game calls
                          p The contents of this Web site may be browsed .
                          .btn-service
                            a.btn.btn-outline-darkgrey.only-link(href='/uarmor/service/game-calls/')
                              | Learn More 
                              i.fa.fa-long-arrow-right(aria-hidden='true')
                .owl-nav
                  .owl-prev
                    i.fa.fa-long-arrow-left(aria-hidden='true')
                  .owl-next
                    i.fa.fa-long-arrow-right(aria-hidden='true')
              .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(style='margin-top: 40px;')
            // .col-*
      section#section-ea18271.ls.s-pt-60.s-pb-60.s-pt-md-90.s-pb-md-90.s-pt-xl-110.s-pb-xl-110
        .container
          .row
            .col-xs-12.col-12
              .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(style='margin-top: 40px;')
              h3.special-heading.text-center
                span.big
                  mark Шукаєте військове 
                  br
                  |  спорядження?
              .fw-divider-space.divider-30.divider-lg-40.divider-xxl-60
              .uws-products.carousel(data-loop='false' data-nav='true' data-dots='false' data-center='false' data-autoplay='false' data-speed='5000' data-responsive-xl='3' data-responsive-lg='3' data-responsive-md='2' data-responsive-sm='2' data-responsive-xs='1' data-margin='30')
                .columns-3(data-index='0')
                  ul.products.columns-3.owl-carousel.owl-shadowitems.owl-theme.top-nav-arrows.owl-loaded.owl-drag
                    .owl-stage-outer
                      .owl-stage(style='transform: translate3d(-2400px, 0px, 0px); transition: all 0s ease 0s; width: 9600px;')
                        .owl-item.cloned(style='width: 370px; margin-right: 30px;')
                          li.has-post-thumbnail.product.type-product.post-580.status-publish.first.instock.product_cat-equipment.sale.shipping-taxable.purchasable.product-type-simple
                            .product-inner
                              .product-img
                                a(href='/uarmor/product/glory-of-justice-gun/')
                                  span.onsale Sale!
                                  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='/img/about/shopequipment2.png' alt='' srcset='/img/about/shopequipment2_002.png 900w, /img/about/shopequipment2-150x150.png 150w, /img/about/shopequipment2-300x300.png 300w, /img/about/shopequipment2-768x768.png 768w, /img/about/shopequipment2-600x600.png 600w, /img/about/shopequipment2-100x100.png 100w' sizes='(max-width: 900px) 100vw, 900px' width='900' height='900')
                              .wrap-header
                                h2
                                  a(href='/uarmor/product/glory-of-justice-gun/') Glory Of Justice Gun
                                span.cat-product
                                  a(href='/uarmor/product-category/equipment/' rel='tag') Equipment
                              // close product-wrap
                              .wrap-footer
                                span.price
                                  del
                                    span
                                      span
                                      | 65
                                      sup 00
                                  ins
                                    span
                                      span
                                      | 55
                                      sup 00
                                .product-button
                                  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='/uarmor/about/?add-to-cart=580' data-quantity='1' data-product_id='580' data-product_sku='woo-belt' aria-label='Add “Glory Of Justice Gun” to your cart' rel='nofollow') Add to cart
                        .owl-item.cloned(style='width: 370px; margin-right: 30px;')
                          li.has-post-thumbnail.product.type-product.post-586.status-publish.instock.product_cat-weapon.shipping-taxable.purchasable.product-type-simple
                            .product-inner
                              .product-img
                                a(href='/uarmor/product/hateful-golden-six-shooter/')
                                  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='/img/about/gun_3.png' alt='' srcset='/img/about/gun_3_002.png 900w, /img/about/gun_3-150x150.png 150w, /img/about/gun_3-300x300.png 300w, /img/about/gun_3-768x768.png 768w, /img/about/gun_3-600x600.png 600w, /img/about/gun_3-100x100.png 100w' sizes='(max-width: 900px) 100vw, 900px' width='900' height='900')
                              .wrap-header
                                h2
                                  a(href='/uarmor/product/hateful-golden-six-shooter/') Hateful Golden Six-Shooter
                                span.cat-product
                                  a(href='/uarmor/product-category/weapon/' rel='tag') Weapon
                              // close product-wrap
                              .wrap-footer
                                span.price
                                  span
                                    span
                                    | 20
                                    sup 00
                                .product-button
                                  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='/uarmor/about/?add-to-cart=586' data-quantity='1' data-product_id='586' data-product_sku='woo-polo' aria-label='Add “Hateful Golden Six-Shooter” to your cart' rel='nofollow') Add to cart
                        .owl-item.cloned(style='width: 370px; margin-right: 30px;')
                          li.has-post-thumbnail.product.type-product.post-576.status-publish.last.instock.product_cat-optics.sale.shipping-taxable.purchasable.product-type-variable
                            .product-inner
                              .product-img
                                a(href='/uarmor/product/protector-of-the-sunwalker/')
                                  span.onsale Sale!
                                  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='/img/about/shopoptics1.png' alt='' srcset='/img/about/shopoptics1_002.png 900w, /img/about/shopoptics1-150x150.png 150w, /img/about/shopoptics1-300x300.png 300w, /img/about/shopoptics1-768x768.png 768w, /img/about/shopoptics1-600x600.png 600w, /img/about/shopoptics1-100x100.png 100w' sizes='(max-width: 900px) 100vw, 900px' width='900' height='900')
                              .wrap-header
                                h2
                                  a(href='/uarmor/product/protector-of-the-sunwalker/') Protector Of The Sunwalker
                                span.cat-product
                                  a(href='/uarmor/product-category/optics/' rel='tag') Optics
                              // close product-wrap
                              .wrap-footer
                                span.price
                                  span
                                    span
                                    | 42
                                    sup 00
                                  |  &ndash; 
                                  span
                                    span
                                    | 45
                                    sup 00
                                .product-button
                                  a.button.product_type_variable.add_to_cart_button(href='/uarmor/product/protector-of-the-sunwalker/' data-quantity='1' data-product_id='576' data-product_sku='woo-hoodie' aria-label='Select options for “Protector Of The Sunwalker”' rel='nofollow') Select options
                        .owl-item.cloned(style='width: 370px; margin-right: 30px;')
                          li.has-post-thumbnail.product.type-product.post-579.status-publish.first.instock.product_cat-equipment.sale.shipping-taxable.purchasable.product-type-simple
                            .product-inner
                              .product-img
                                a(href='/uarmor/product/renovated-golden-revolver/')
                                  span.onsale Sale!
                                  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='/img/about/shopequipment3.png' alt='' srcset='/img/about/shopequipment3_002.png 900w, /img/about/shopequipment3-150x150.png 150w, /img/about/shopequipment3-300x300.png 300w, /img/about/shopequipment3-768x768.png 768w, /img/about/shopequipment3-600x600.png 600w, /img/about/shopequipment3-100x100.png 100w' sizes='(max-width: 900px) 100vw, 900px' width='900' height='900')
                              .wrap-header
                                h2
                                  a(href='/uarmor/product/renovated-golden-revolver/') Renovated Golden Revolver
                                span.cat-product
                                  a(href='/uarmor/product-category/equipment/' rel='tag') Equipment
                              // close product-wrap
                              .wrap-footer
                                span.price
                                  del
                                    span
                                      span
                                      | 20
                                      sup 00
                                  ins
                                    span
                                      span
                                      | 18
                                      sup 00
                                .product-button
                                  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='/uarmor/about/?add-to-cart=579' data-quantity='1' data-product_id='579' data-product_sku='woo-beanie' aria-label='Add “Renovated Golden Revolver” to your cart' rel='nofollow') Add to cart
                        .owl-item.cloned(style='width: 370px; margin-right: 30px;')
                          li.has-post-thumbnail.product.type-product.post-577.status-publish.instock.product_cat-optics.shipping-taxable.purchasable.product-type-simple
                            .product-inner
                              .product-img
                                a(href='/uarmor/product/thunderfury-carbon-shooter/')
                                  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='/img/about/shopoptics2.png' alt='' srcset='/img/about/shopoptics2_002.png 900w, /img/about/shopoptics2-150x150.png 150w, /img/about/shopoptics2-300x300.png 300w, /img/about/shopoptics2-768x768.png 768w, /img/about/shopoptics2-600x600.png 600w, /img/about/shopoptics2-100x100.png 100w' sizes='(max-width: 900px) 100vw, 900px' width='900' height='900')
                              .wrap-header
                                h2
                                  a(href='/uarmor/product/thunderfury-carbon-shooter/') Thunderfury Carbon Shooter
                                span.cat-product
                                  a(href='/uarmor/product-category/optics/' rel='tag') Optics
                              // close product-wrap
                              .wrap-footer
                                span.price
                                  span
                                    span
                                    | 45
                                    sup 00
                                .product-button
                                  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='/uarmor/about/?add-to-cart=577' data-quantity='1' data-product_id='577' data-product_sku='woo-hoodie-with-logo' aria-label='Add “Thunderfury Carbon Shooter” to your cart' rel='nofollow') Add to cart
                        .owl-item.cloned(style='width: 370px; margin-right: 30px;')
                          li.has-post-thumbnail.product.type-product.post-755.status-publish.last.instock.product_cat-optics.shipping-taxable.purchasable.product-type-simple
                            .product-inner
                              .product-img
                                a(href='/uarmor/product/twilights-iron-flintlock/')
                                  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='/img/about/shopoptics5.png' alt='' srcset='/img/about/shopoptics5_002.png 900w, /img/about/shopoptics5-150x150.png 150w, /img/about/shopoptics5-300x300.png 300w, /img/about/shopoptics5-768x768.png 768w, /img/about/shopoptics5-600x600.png 600w, /img/about/shopoptics5-100x100.png 100w' sizes='(max-width: 900px) 100vw, 900px' width='900' height='900')
                              .wrap-header
                                h2
                                  a(href='/uarmor/product/twilights-iron-flintlock/') Twilight&rsquo;s Iron Flintlock
                                span.cat-product
                                  a(href='/uarmor/product-category/optics/' rel='tag') Optics
                              // close product-wrap
                              .wrap-footer
                                span.price
                                  span
                                    span
                                    | 45
                                    sup 00
                                .product-button
                                  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='/uarmor/about/?add-to-cart=755' data-quantity='1' data-product_id='755' data-product_sku='woo-hoodie-with-logo' aria-label="Add “Twilight's Iron Flintlock” to your cart" rel='nofollow') Add to cart
                        .owl-item.active(style='width: 370px; margin-right: 30px;')
                          li.has-post-thumbnail.product.type-product.post-582.status-publish.first.instock.product_cat-equipment.featured.shipping-taxable.purchasable.product-type-simple
                            .product-inner
                              .product-img
                                a(href='/uarmor/product/allegiance-of-the-enigma/')
                                  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='/img/about/shopequipment5.png' alt='' srcset='/img/about/shopequipment5_002.png 900w, /img/about/shopequipment5-150x150.png 150w, /img/about/shopequipment5-300x300.png 300w, /img/about/shopequipment5-768x768.png 768w, /img/about/shopequipment5-600x600.png 600w, /img/about/shopequipment5-100x100.png 100w' sizes='(max-width: 900px) 100vw, 900px' width='900' height='900')
                              .wrap-header
                                h2
                                  a(href='/uarmor/product/allegiance-of-the-enigma/') Allegiance Of The Enigma
                                span.cat-product
                                  a(href='/uarmor/product-category/equipment/' rel='tag') Equipment
                              // close product-wrap
                              .wrap-footer
                                span.price
                                  span
                                    span
                                    | 90
                                    sup 00
                                .product-button
                                  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='/uarmor/about/?add-to-cart=582' data-quantity='1' data-product_id='582' data-product_sku='woo-sunglasses' aria-label='Add “Allegiance Of The Enigma” to your cart' rel='nofollow') Add to cart
                        .owl-item.active(style='width: 370px; margin-right: 30px;')
                          li.has-post-thumbnail.product.type-product.post-581.status-publish.instock.product_cat-equipment.sale.featured.shipping-taxable.purchasable.product-type-simple
                            .product-inner
                              .product-img
                                a(href='/uarmor/product/champion-of-regret-gun/')
                                  span.onsale Sale!
                                  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='/img/about/shopequipment1.png' alt='' srcset='/img/about/shopequipment1_002.png 900w, /img/about/shopequipment1-150x150.png 150w, /img/about/shopequipment1-300x300.png 300w, /img/about/shopequipment1-768x768.png 768w, /img/about/shopequipment1-600x600.png 600w, /img/about/shopequipment1-100x100.png 100w' sizes='(max-width: 900px) 100vw, 900px' width='900' height='900')
                              .wrap-header
                                h2
                                  a(href='/uarmor/product/champion-of-regret-gun/') Champion Of Regret Gun
                                span.cat-product
                                  a(href='/uarmor/product-category/equipment/' rel='tag') Equipment
                              // close product-wrap
                              .wrap-footer
                                span.price
                                  del
                                    span
                                      span
                                      | 18
                                      sup 00
                                  ins
                                    span
                                      span
                                      | 16
                                      sup 00
                                .product-button
                                  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='/uarmor/about/?add-to-cart=581' data-quantity='1' data-product_id='581' data-product_sku='woo-cap' aria-label='Add “Champion Of Regret Gun” to your cart' rel='nofollow') Add to cart
                        .owl-item.active(style='width: 370px; margin-right: 30px;')
                          li.has-post-thumbnail.product.type-product.post-585.status-publish.last.instock.product_cat-weapon.shipping-taxable.purchasable.product-type-simple
                            .product-inner
                              .product-img
                                a(href='/uarmor/product/crash-pounder-of-torment/')
                                  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='/img/about/gun_2.png' alt='' srcset='/img/about/gun_2_002.png 900w, /img/about/gun_2-150x150.png 150w, /img/about/gun_2-300x300.png 300w, /img/about/gun_2-768x768.png 768w, /img/about/gun_2-600x600.png 600w, /img/about/gun_2-100x100.png 100w' sizes='(max-width: 900px) 100vw, 900px' width='900' height='900')
                              .wrap-header
                                h2
                                  a(href='/uarmor/product/crash-pounder-of-torment/') Crash, Pounder Of Torment
                                span.cat-product
                                  a(href='/uarmor/product-category/weapon/' rel='tag') Weapon
                              // close product-wrap
                              .wrap-footer
                                span.price
                                  span
                                    span
                                    | 25
                                    sup 00
                                .product-button
                                  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='/uarmor/about/?add-to-cart=585' data-quantity='1' data-product_id='585' data-product_sku='woo-long-sleeve-tee' aria-label='Add “Crash, Pounder Of Torment” to your cart' rel='nofollow') Add to cart
                        .owl-item(style='width: 370px; margin-right: 30px;')
                          li.has-post-thumbnail.product.type-product.post-754.status-publish.first.instock.product_cat-optics.shipping-taxable.purchasable.product-type-simple
                            .product-inner
                              .product-img
                                a(href='/uarmor/product/cruiser-pistol-of-the-world/')
                                  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='/img/about/shopoptics4.png' alt='' srcset='/img/about/shopoptics4_002.png 900w, /img/about/shopoptics4-150x150.png 150w, /img/about/shopoptics4-300x300.png 300w, /img/about/shopoptics4-768x768.png 768w, /img/about/shopoptics4-600x600.png 600w, /img/about/shopoptics4-100x100.png 100w' sizes='(max-width: 900px) 100vw, 900px' width='900' height='900')
                              .wrap-header
                                h2
                                  a(href='/uarmor/product/cruiser-pistol-of-the-world/') Cruiser, Pistol Of The World
                                span.cat-product
                                  a(href='/uarmor/product-category/optics/' rel='tag') Optics
                              // close product-wrap
                              .wrap-footer
                                span.price
                                  span
                                    span
                                    | 18
                                    sup 00
                                .product-button
                                  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='/uarmor/about/?add-to-cart=754' data-quantity='1' data-product_id='754' data-product_sku='woo-tshirt' aria-label='Add “Cruiser, Pistol Of The World” to your cart' rel='nofollow') Add to cart
                        .owl-item(style='width: 370px; margin-right: 30px;')
                          li.has-post-thumbnail.product.type-product.post-596.status-publish.instock.product_cat-weapon.sale.shipping-taxable.purchasable.product-type-simple
                            .product-inner
                              .product-img
                                a(href='/uarmor/product/deathraze-foe-of-eternal/')
                                  span.onsale Sale!
                                  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='/img/about/gun_4.png' alt='' srcset='/img/about/gun_4_002.png 800w, /img/about/gun_4-150x150.png 150w, /img/about/gun_4-300x300.png 300w, /img/about/gun_4-768x768.png 768w, /img/about/gun_4-600x600.png 600w, /img/about/gun_4-100x100.png 100w' sizes='(max-width: 800px) 100vw, 800px' width='800' height='800')
                              .wrap-header
                                h2
                                  a(href='/uarmor/product/deathraze-foe-of-eternal/') Deathraze, Foe Of Eternal
                                span.cat-product
                                  a(href='/uarmor/product-category/weapon/' rel='tag') Weapon
                              // close product-wrap
                              .wrap-footer
                                span.price
                                  del
                                    span
                                      span
                                      | 20
                                      sup 00
                                  ins
                                    span
                                      span
                                      | 18
                                      sup 00
                                .product-button
                                  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='/uarmor/about/?add-to-cart=596' data-quantity='1' data-product_id='596' data-product_sku='Woo-beanie-logo' aria-label='Add “Deathraze, Foe Of Eternal” to your cart' rel='nofollow') Add to cart
                        .owl-item(style='width: 370px; margin-right: 30px;')
                          li.has-post-thumbnail.product.type-product.post-578.status-publish.last.instock.product_cat-optics.shipping-taxable.purchasable.product-type-simple
                            .product-inner
                              .product-img
                                a(href='/uarmor/product/fireguard-six-shooter/')
                                  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='/img/about/shopoptics3.png' alt='' srcset='/img/about/shopoptics3_002.png 900w, /img/about/shopoptics3-150x150.png 150w, /img/about/shopoptics3-300x300.png 300w, /img/about/shopoptics3-768x768.png 768w, /img/about/shopoptics3-600x600.png 600w, /img/about/shopoptics3-100x100.png 100w' sizes='(max-width: 900px) 100vw, 900px' width='900' height='900')
                              .wrap-header
                                h2
                                  a(href='/uarmor/product/fireguard-six-shooter/') Fireguard Six-Shooter
                                span.cat-product
                                  a(href='/uarmor/product-category/optics/' rel='tag') Optics
                              // close product-wrap
                              .wrap-footer
                                span.price
                                  span
                                    span
                                    | 18
                                    sup 00
                                .product-button
                                  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='/uarmor/about/?add-to-cart=578' data-quantity='1' data-product_id='578' data-product_sku='woo-tshirt' aria-label='Add “Fireguard Six-Shooter” to your cart' rel='nofollow') Add to cart
                        .owl-item(style='width: 370px; margin-right: 30px;')
                          li.has-post-thumbnail.product.type-product.post-580.status-publish.first.instock.product_cat-equipment.sale.shipping-taxable.purchasable.product-type-simple
                            .product-inner
                              .product-img
                                a(href='/uarmor/product/glory-of-justice-gun/')
                                  span.onsale Sale!
                                  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='/img/about/shopequipment2.png' alt='' srcset='/img/about/shopequipment2_002.png 900w, /img/about/shopequipment2-150x150.png 150w, /img/about/shopequipment2-300x300.png 300w, /img/about/shopequipment2-768x768.png 768w, /img/about/shopequipment2-600x600.png 600w, /img/about/shopequipment2-100x100.png 100w' sizes='(max-width: 900px) 100vw, 900px' width='900' height='900')
                              .wrap-header
                                h2
                                  a(href='/uarmor/product/glory-of-justice-gun/') Glory Of Justice Gun
                                span.cat-product
                                  a(href='/uarmor/product-category/equipment/' rel='tag') Equipment
                              // close product-wrap
                              .wrap-footer
                                span.price
                                  del
                                    span
                                      span
                                      | 65
                                      sup 00
                                  ins
                                    span
                                      span
                                      | 55
                                      sup 00
                                .product-button
                                  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='/uarmor/about/?add-to-cart=580' data-quantity='1' data-product_id='580' data-product_sku='woo-belt' aria-label='Add “Glory Of Justice Gun” to your cart' rel='nofollow') Add to cart
                        .owl-item(style='width: 370px; margin-right: 30px;')
                          li.has-post-thumbnail.product.type-product.post-586.status-publish.instock.product_cat-weapon.shipping-taxable.purchasable.product-type-simple
                            .product-inner
                              .product-img
                                a(href='/uarmor/product/hateful-golden-six-shooter/')
                                  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='/img/about/gun_3.png' alt='' srcset='/img/about/gun_3_002.png 900w, /img/about/gun_3-150x150.png 150w, /img/about/gun_3-300x300.png 300w, /img/about/gun_3-768x768.png 768w, /img/about/gun_3-600x600.png 600w, /img/about/gun_3-100x100.png 100w' sizes='(max-width: 900px) 100vw, 900px' width='900' height='900')
                              .wrap-header
                                h2
                                  a(href='/uarmor/product/hateful-golden-six-shooter/') Hateful Golden Six-Shooter
                                span.cat-product
                                  a(href='/uarmor/product-category/weapon/' rel='tag') Weapon
                              // close product-wrap
                              .wrap-footer
                                span.price
                                  span
                                    span
                                    | 20
                                    sup 00
                                .product-button
                                  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='/uarmor/about/?add-to-cart=586' data-quantity='1' data-product_id='586' data-product_sku='woo-polo' aria-label='Add “Hateful Golden Six-Shooter” to your cart' rel='nofollow') Add to cart
                        .owl-item(style='width: 370px; margin-right: 30px;')
                          li.has-post-thumbnail.product.type-product.post-576.status-publish.last.instock.product_cat-optics.sale.shipping-taxable.purchasable.product-type-variable
                            .product-inner
                              .product-img
                                a(href='/uarmor/product/protector-of-the-sunwalker/')
                                  span.onsale Sale!
                                  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='/img/about/shopoptics1.png' alt='' srcset='/img/about/shopoptics1_002.png 900w, /img/about/shopoptics1-150x150.png 150w, /img/about/shopoptics1-300x300.png 300w, /img/about/shopoptics1-768x768.png 768w, /img/about/shopoptics1-600x600.png 600w, /img/about/shopoptics1-100x100.png 100w' sizes='(max-width: 900px) 100vw, 900px' width='900' height='900')
                              .wrap-header
                                h2
                                  a(href='/uarmor/product/protector-of-the-sunwalker/') Protector Of The Sunwalker
                                span.cat-product
                                  a(href='/uarmor/product-category/optics/' rel='tag') Optics
                              // close product-wrap
                              .wrap-footer
                                span.price
                                  span
                                    span
                                    | 42
                                    sup 00
                                  |  &ndash; 
                                  span
                                    span
                                    | 45
                                    sup 00
                                .product-button
                                  a.button.product_type_variable.add_to_cart_button(href='/uarmor/product/protector-of-the-sunwalker/' data-quantity='1' data-product_id='576' data-product_sku='woo-hoodie' aria-label='Select options for “Protector Of The Sunwalker”' rel='nofollow') Select options
                        .owl-item(style='width: 370px; margin-right: 30px;')
                          li.has-post-thumbnail.product.type-product.post-579.status-publish.first.instock.product_cat-equipment.sale.shipping-taxable.purchasable.product-type-simple
                            .product-inner
                              .product-img
                                a(href='/uarmor/product/renovated-golden-revolver/')
                                  span.onsale Sale!
                                  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='/img/about/shopequipment3.png' alt='' srcset='/img/about/shopequipment3_002.png 900w, /img/about/shopequipment3-150x150.png 150w, /img/about/shopequipment3-300x300.png 300w, /img/about/shopequipment3-768x768.png 768w, /img/about/shopequipment3-600x600.png 600w, /img/about/shopequipment3-100x100.png 100w' sizes='(max-width: 900px) 100vw, 900px' width='900' height='900')
                              .wrap-header
                                h2
                                  a(href='/uarmor/product/renovated-golden-revolver/') Renovated Golden Revolver
                                span.cat-product
                                  a(href='/uarmor/product-category/equipment/' rel='tag') Equipment
                              // close product-wrap
                              .wrap-footer
                                span.price
                                  del
                                    span
                                      span
                                      | 20
                                      sup 00
                                  ins
                                    span
                                      span
                                      | 18
                                      sup 00
                                .product-button
                                  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='/uarmor/about/?add-to-cart=579' data-quantity='1' data-product_id='579' data-product_sku='woo-beanie' aria-label='Add “Renovated Golden Revolver” to your cart' rel='nofollow') Add to cart
                        .owl-item(style='width: 370px; margin-right: 30px;')
                          li.has-post-thumbnail.product.type-product.post-577.status-publish.instock.product_cat-optics.shipping-taxable.purchasable.product-type-simple
                            .product-inner
                              .product-img
                                a(href='/uarmor/product/thunderfury-carbon-shooter/')
                                  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='/img/about/shopoptics2.png' alt='' srcset='/img/about/shopoptics2_002.png 900w, /img/about/shopoptics2-150x150.png 150w, /img/about/shopoptics2-300x300.png 300w, /img/about/shopoptics2-768x768.png 768w, /img/about/shopoptics2-600x600.png 600w, /img/about/shopoptics2-100x100.png 100w' sizes='(max-width: 900px) 100vw, 900px' width='900' height='900')
                              .wrap-header
                                h2
                                  a(href='/uarmor/product/thunderfury-carbon-shooter/') Thunderfury Carbon Shooter
                                span.cat-product
                                  a(href='/uarmor/product-category/optics/' rel='tag') Optics
                              // close product-wrap
                              .wrap-footer
                                span.price
                                  span
                                    span
                                    | 45
                                    sup 00
                                .product-button
                                  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='/uarmor/about/?add-to-cart=577' data-quantity='1' data-product_id='577' data-product_sku='woo-hoodie-with-logo' aria-label='Add “Thunderfury Carbon Shooter” to your cart' rel='nofollow') Add to cart
                        .owl-item(style='width: 370px; margin-right: 30px;')
                          li.has-post-thumbnail.product.type-product.post-755.status-publish.last.instock.product_cat-optics.shipping-taxable.purchasable.product-type-simple
                            .product-inner
                              .product-img
                                a(href='/uarmor/product/twilights-iron-flintlock/')
                                  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='/img/about/shopoptics5.png' alt='' srcset='/img/about/shopoptics5_002.png 900w, /img/about/shopoptics5-150x150.png 150w, /img/about/shopoptics5-300x300.png 300w, /img/about/shopoptics5-768x768.png 768w, /img/about/shopoptics5-600x600.png 600w, /img/about/shopoptics5-100x100.png 100w' sizes='(max-width: 900px) 100vw, 900px' width='900' height='900')
                              .wrap-header
                                h2
                                  a(href='/uarmor/product/twilights-iron-flintlock/') Twilight&rsquo;s Iron Flintlock
                                span.cat-product
                                  a(href='/uarmor/product-category/optics/' rel='tag') Optics
                              // close product-wrap
                              .wrap-footer
                                span.price
                                  span
                                    span
                                    | 45
                                    sup 00
                                .product-button
                                  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='/uarmor/about/?add-to-cart=755' data-quantity='1' data-product_id='755' data-product_sku='woo-hoodie-with-logo' aria-label="Add “Twilight's Iron Flintlock” to your cart" rel='nofollow') Add to cart
                        .owl-item.cloned(style='width: 370px; margin-right: 30px;')
                          li.has-post-thumbnail.product.type-product.post-582.status-publish.first.instock.product_cat-equipment.featured.shipping-taxable.purchasable.product-type-simple
                            .product-inner
                              .product-img
                                a(href='/uarmor/product/allegiance-of-the-enigma/')
                                  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='/img/about/shopequipment5.png' alt='' srcset='/img/about/shopequipment5_002.png 900w, /img/about/shopequipment5-150x150.png 150w, /img/about/shopequipment5-300x300.png 300w, /img/about/shopequipment5-768x768.png 768w, /img/about/shopequipment5-600x600.png 600w, /img/about/shopequipment5-100x100.png 100w' sizes='(max-width: 900px) 100vw, 900px' width='900' height='900')
                              .wrap-header
                                h2
                                  a(href='/uarmor/product/allegiance-of-the-enigma/') Allegiance Of The Enigma
                                span.cat-product
                                  a(href='/uarmor/product-category/equipment/' rel='tag') Equipment
                              // close product-wrap
                              .wrap-footer
                                span.price
                                  span
                                    span
                                    | 90
                                    sup 00
                                .product-button
                                  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='/uarmor/about/?add-to-cart=582' data-quantity='1' data-product_id='582' data-product_sku='woo-sunglasses' aria-label='Add “Allegiance Of The Enigma” to your cart' rel='nofollow') Add to cart
                        .owl-item.cloned(style='width: 370px; margin-right: 30px;')
                          li.has-post-thumbnail.product.type-product.post-581.status-publish.instock.product_cat-equipment.sale.featured.shipping-taxable.purchasable.product-type-simple
                            .product-inner
                              .product-img
                                a(href='/uarmor/product/champion-of-regret-gun/')
                                  span.onsale Sale!
                                  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='/img/about/shopequipment1.png' alt='' srcset='/img/about/shopequipment1_002.png 900w, /img/about/shopequipment1-150x150.png 150w, /img/about/shopequipment1-300x300.png 300w, /img/about/shopequipment1-768x768.png 768w, /img/about/shopequipment1-600x600.png 600w, /img/about/shopequipment1-100x100.png 100w' sizes='(max-width: 900px) 100vw, 900px' width='900' height='900')
                              .wrap-header
                                h2
                                  a(href='/uarmor/product/champion-of-regret-gun/') Champion Of Regret Gun
                                span.cat-product
                                  a(href='/uarmor/product-category/equipment/' rel='tag') Equipment
                              // close product-wrap
                              .wrap-footer
                                span.price
                                  del
                                    span
                                      span
                                      | 18
                                      sup 00
                                  ins
                                    span
                                      span
                                      | 16
                                      sup 00
                                .product-button
                                  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='/uarmor/about/?add-to-cart=581' data-quantity='1' data-product_id='581' data-product_sku='woo-cap' aria-label='Add “Champion Of Regret Gun” to your cart' rel='nofollow') Add to cart
                        .owl-item.cloned(style='width: 370px; margin-right: 30px;')
                          li.has-post-thumbnail.product.type-product.post-585.status-publish.last.instock.product_cat-weapon.shipping-taxable.purchasable.product-type-simple
                            .product-inner
                              .product-img
                                a(href='/uarmor/product/crash-pounder-of-torment/')
                                  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='/img/about/gun_2.png' alt='' srcset='/img/about/gun_2_002.png 900w, /img/about/gun_2-150x150.png 150w, /img/about/gun_2-300x300.png 300w, /img/about/gun_2-768x768.png 768w, /img/about/gun_2-600x600.png 600w, /img/about/gun_2-100x100.png 100w' sizes='(max-width: 900px) 100vw, 900px' width='900' height='900')
                              .wrap-header
                                h2
                                  a(href='/uarmor/product/crash-pounder-of-torment/') Crash, Pounder Of Torment
                                span.cat-product
                                  a(href='/uarmor/product-category/weapon/' rel='tag') Weapon
                              // close product-wrap
                              .wrap-footer
                                span.price
                                  span
                                    span
                                    | 25
                                    sup 00
                                .product-button
                                  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='/uarmor/about/?add-to-cart=585' data-quantity='1' data-product_id='585' data-product_sku='woo-long-sleeve-tee' aria-label='Add “Crash, Pounder Of Torment” to your cart' rel='nofollow') Add to cart
                        .owl-item.cloned(style='width: 370px; margin-right: 30px;')
                          li.has-post-thumbnail.product.type-product.post-754.status-publish.first.instock.product_cat-optics.shipping-taxable.purchasable.product-type-simple
                            .product-inner
                              .product-img
                                a(href='/uarmor/product/cruiser-pistol-of-the-world/')
                                  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='/img/about/shopoptics4.png' alt='' srcset='/img/about/shopoptics4_002.png 900w, /img/about/shopoptics4-150x150.png 150w, /img/about/shopoptics4-300x300.png 300w, /img/about/shopoptics4-768x768.png 768w, /img/about/shopoptics4-600x600.png 600w, /img/about/shopoptics4-100x100.png 100w' sizes='(max-width: 900px) 100vw, 900px' width='900' height='900')
                              .wrap-header
                                h2
                                  a(href='/uarmor/product/cruiser-pistol-of-the-world/') Cruiser, Pistol Of The World
                                span.cat-product
                                  a(href='/uarmor/product-category/optics/' rel='tag') Optics
                              // close product-wrap
                              .wrap-footer
                                span.price
                                  span
                                    span
                                    | 18
                                    sup 00
                                .product-button
                                  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='/uarmor/about/?add-to-cart=754' data-quantity='1' data-product_id='754' data-product_sku='woo-tshirt' aria-label='Add “Cruiser, Pistol Of The World” to your cart' rel='nofollow') Add to cart
                        .owl-item.cloned(style='width: 370px; margin-right: 30px;')
                          li.has-post-thumbnail.product.type-product.post-596.status-publish.instock.product_cat-weapon.sale.shipping-taxable.purchasable.product-type-simple
                            .product-inner
                              .product-img
                                a(href='/uarmor/product/deathraze-foe-of-eternal/')
                                  span.onsale Sale!
                                  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='/img/about/gun_4.png' alt='' srcset='/img/about/gun_4_002.png 800w, /img/about/gun_4-150x150.png 150w, /img/about/gun_4-300x300.png 300w, /img/about/gun_4-768x768.png 768w, /img/about/gun_4-600x600.png 600w, /img/about/gun_4-100x100.png 100w' sizes='(max-width: 800px) 100vw, 800px' width='800' height='800')
                              .wrap-header
                                h2
                                  a(href='/uarmor/product/deathraze-foe-of-eternal/') Deathraze, Foe Of Eternal
                                span.cat-product
                                  a(href='/uarmor/product-category/weapon/' rel='tag') Weapon
                              // close product-wrap
                              .wrap-footer
                                span.price
                                  del
                                    span
                                      span
                                      | 20
                                      sup 00
                                  ins
                                    span
                                      span
                                      | 18
                                      sup 00
                                .product-button
                                  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='/uarmor/about/?add-to-cart=596' data-quantity='1' data-product_id='596' data-product_sku='Woo-beanie-logo' aria-label='Add “Deathraze, Foe Of Eternal” to your cart' rel='nofollow') Add to cart
                        .owl-item.cloned(style='width: 370px; margin-right: 30px;')
                          li.has-post-thumbnail.product.type-product.post-578.status-publish.last.instock.product_cat-optics.shipping-taxable.purchasable.product-type-simple
                            .product-inner
                              .product-img
                                a(href='/uarmor/product/fireguard-six-shooter/')
                                  img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(src='/img/about/shopoptics3.png' alt='' srcset='/img/about/shopoptics3_002.png 900w, /img/about/shopoptics3-150x150.png 150w, /img/about/shopoptics3-300x300.png 300w, /img/about/shopoptics3-768x768.png 768w, /img/about/shopoptics3-600x600.png 600w, /img/about/shopoptics3-100x100.png 100w' sizes='(max-width: 900px) 100vw, 900px' width='900' height='900')
                              .wrap-header
                                h2
                                  a(href='/uarmor/product/fireguard-six-shooter/') Fireguard Six-Shooter
                                span.cat-product
                                  a(href='/uarmor/product-category/optics/' rel='tag') Optics
                              // close product-wrap
                              .wrap-footer
                                span.price
                                  span
                                    span
                                    | 18
                                    sup 00
                                .product-button
                                  a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='/uarmor/about/?add-to-cart=578' data-quantity='1' data-product_id='578' data-product_sku='woo-tshirt' aria-label='Add “Fireguard Six-Shooter” to your cart' rel='nofollow') Add to cart
                    .owl-nav
                      .owl-prev
                        i.fa.fa-long-arrow-left(aria-hidden='true')
                      .owl-next
                        i.fa.fa-long-arrow-right(aria-hidden='true')
                    .owl-dots.disabled
              .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(style='margin-top: 40px;')
            // .col-*
    include ../components/footer.pug
    include ../components/footer-js.pug
