include ../components/head.pug
style().
  body * {
    font-family:'Montserrat';
  }
  [v-cloak]{opacity : 0; transition: all .4s linear}
.app#app(v-cloak)
  #canvas
    #box_wrapper
      include ../components/navigation.pug
      .fw-page-builder-content
        section#section-7f5004f.ls.s-pt-60.s-pb-60.s-pt-md-90.s-pb-md-90.s-pt-xl-110.s-pb-xl-110
          h6.d-none section-7f5004f
          .container
            .row.align-center
              .col-xs-12.col-12
                .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(style='margin-top: 40px;')
              // .col-*
              .col-xs-12.col-12.col-lg-6
                .img-wrap.round
                  img.round(src='/generall/img/brand.jpg' alt='/generall/img/brand.jpg' width='530' height='530')
                .fw-divider-space.divider-30.divider-lg-0
              // .col-*
              .col-xs-12.col-12.col-lg-6.text-center.text-sm-left
                h3.special-heading.text-center.text-sm-left
                  span.big
                    mark Ласкаво просимо
                    br
                    |  до UArmor 
                .fw-divider-space.divider-30.divider-lg-40.divider-xxl-60
                .text-block
                  p #{data.misc.about}
                  
                .fw-divider-space.divider-30.divider-lg-40.divider-xxl-60
              // .col-*
              .col-xs-12.col-12
                .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(style='margin-top: 40px;')
              // .col-*
        section.ds.s-pt-60.s-pb-60.s-pt-md-90.s-pb-md-90.s-pt-xl-110.s-pb-xl-110
          .cover-image.ds.s-cover-right.s-cover-small(style='background-image: url("/img/about/federico-bottos-Z3NceSeZqgI-unsplash-scaled.webp");')
            img(src='/img/about/federico-bottos-Z3NceSeZqgI-unsplash-scaled.webp' )
          .container
            .row
              .col-xs-12.col-12.col-lg-6.text-center.text-sm-left
                .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(style='margin-top: 40px;')
                h3.special-heading.text-center.text-sm-left
                  span.big
                    mark Чому варто
                    |  обрати нас
                .fw-divider-space.divider-20.divider-lg-30
                .fw-divider-line-styled.cs.left-line
                .fw-divider-space.divider-30.divider-lg-50.divider-xxl-70
                .text-block
                  p #{data.misc.about}
              // .col-*
              .col-xs-12.col-12
                .fw-divider-space.divider-30.divider-lg-50.divider-xxl-70
                .owl-carousel.owl-shadowitems.shortcode-service.bottom-left-nav.owl-loaded.owl-drag.owl-theme(data-loop='false' data-nav='true' data-dots='false' data-center='false' data-autoplay='false' data-speed='5000' data-responsive-xl='4' data-responsive-lg='3' data-responsive-md='2' data-responsive-sm='1' data-responsive-xs='1' data-margin='15')
                  .owl-stage-outer
                    .owl-stage(style='transform: translate3d(-1185px, 0px, 0px); transition: all 0s ease 0s; width: 4148px;')
                      each val in ['Досвід', 'Професійність', "Якість", "Надійність", "Доступність", "Вигода", "Швидкість", "Сучасність", "Оснащеність", "Асортимент", "Репутація","Швидкість"]
                        .owl-item(style='width: 281.25px; margin-right: 15px;')
                          .shortcode.text-center(data-index=val)
                            .icon-box.text-center.ls.box-shadow
                              a(href='/about')
                                .icon-styled.fs-52
                                  i.ico.ico-dart
                              h5.text-uppercase
                                a(href='/about')
                                  mark #{val}
                              //- p The contents of this Web site may be browsed .
                              .btn-service
                                a.btn.btn-outline-darkgrey.only-link(href='/about')
                                  | Дізнатись більше 
                                  i.fa.fa-long-arrow-right(aria-hidden='true')
                .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(style='margin-top: 40px;')
              // .col-*
        section#section-ddd213b.ls.s-pt-60.s-pb-60.s-pt-md-90.s-pb-md-90.s-pt-lg-130.s-pt-xl-150.s-pb-xl-110
          h6.d-none section-ddd213b
          .container
            .row
              .col-xs-12.col-12
                .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(style='margin-top: 110px;')
                .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-xxl(style='margin-top: 80px;')
                h3.special-heading.text-center
                  span.big
                    mark Наша
                    |  команда
                .fw-divider-space.divider-20.divider-lg-30
                .fw-divider-line-styled.cs.center
                .fw-divider-space.divider-30.divider-lg-50.divider-xxl-70
                .owl-carousel.owl-shadowitems.shortcode-team.owl-loaded.owl-drag.owl-theme(data-loop='false' data-nav='false' data-dots='false' data-center='false' data-autoplay='false' data-speed='5000' data-responsive-xl='3' data-responsive-lg='2' data-responsive-md='2' data-responsive-sm='1' data-responsive-xs='1' data-margin='60')
                  .owl-stage-outer
                    .owl-stage(style='transform: translate3d(-1230px, 0px, 0px); transition: all 0s ease 0s; width: 4920px;')

                      .owl-item(style='width: 350px; margin-right: 60px;')
                        .owl-carousel-item.our-team(data-index='3')
                          .vertical-item.content-padding.padding-small.content-up.content-box-shadow.item-team.text-center
                            .item-media
                              .media-links
                                a.abs-link(href='/')
                              img.attachment-armashop-rectangle.size-armashop-rectangle.wp-post-image(src='/img/team3-1050x1280.jpg' alt='' width='1050' height='1280')
                            .item-content.ls
                              h5.text-capitalize.links-maincolor
                                a(href='/')
                                  | Roy S. White
                              p.small-text Director Store
                              span.social-icons
                                a.fa.fa-facebook(href='https://www.facebook.com/' target='_blank')
                                a.fa.fa-paper-plane(href='https://web.telegram.org/' target='_blank')
                                a.fa.fa-instagram(href='https://www.instagram.com/' target='_blank')
                      .owl-item(style='width: 350px; margin-right: 60px;')
                        .owl-carousel-item.our-team(data-index='4')
                          .vertical-item.content-padding.padding-small.content-up.content-box-shadow.item-team.text-center
                            .item-media
                              .media-links
                                a.abs-link(href='/')
                              img.attachment-armashop-rectangle.size-armashop-rectangle.wp-post-image(src='/img/team6-1050x1280.jpg' alt='' width='1050' height='1280')
                            .item-content.ls
                              h5.text-capitalize.links-maincolor
                                a(href='/')
                                  | Andrew E. Hale
                              p.small-text Manager
                              span.social-icons
                                a.fa.fa-facebook(href='https://www.facebook.com/' target='_blank')
                                a.fa.fa-paper-plane(href='https://web.telegram.org/' target='_blank')
                                a.fa.fa-instagram(href='https://www.instagram.com/' target='_blank')
                      .owl-item(style='width: 350px; margin-right: 60px;')
                        .owl-carousel-item.our-team(data-index='5')
                          .vertical-item.content-padding.padding-small.content-up.content-box-shadow.item-team.text-center
                            .item-media
                              .media-links
                                a.abs-link(href='/')
                              img.attachment-armashop-rectangle.size-armashop-rectangle.wp-post-image(src='/img/team1-1050x1280.jpg' alt='' width='1050' height='1280')
                            .item-content.ls
                              h5.text-capitalize.links-maincolor
                                a(href='/')
                                  | Anthony S. Felt
                              p.small-text Support
                              span.social-icons
                                a.fa.fa-facebook(href='https://www.facebook.com/' target='_blank')
                                a.fa.fa-paper-plane(href='https://web.telegram.org/' target='_blank')
                                a.fa.fa-instagram(href='https://www.instagram.com/' target='_blank')
                      
                      
         
                  .owl-nav.disabled
                    .owl-prev
                      i.fa.fa-long-arrow-left(aria-hidden='true')
                    .owl-next
                      i.fa.fa-long-arrow-right(aria-hidden='true')
                  .owl-dots.disabled
                .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(style='margin-top: 40px;')
              // .col-*

include ../components/footer.pug
include ../components/footer-js.pug
script(type="module" src="/generall/js/app.js")
