include ../components/head.pug
#canvas
  #box_wrapper
    include ../components/navigation.pug
    section.page_title.ds.s-pt-60.s-pb-60.s-pt-md-90.s-pb-md-90.s-pt-xl-110.s-pb-xl-110.s-parallax.s-overlay(style='background-image: url("http://webdesign-finder.com/armashop/wp-content/uploads/2020/03/title.jpg"); background-position: 50% 1px;')
      .container
        .row
          .col-12
            .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(style='margin-top: 20px;')
          .col-sm-12.text-center.text-sm-left
            h1.color-main
              | Магазин
            ol.breadcrumb
              li.breadcrumb-item.first-item
                a(href='/') Головна
              li.breadcrumb-item.last-item.active Товари
          .col-12
            .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(style='margin-top: 20px;')
    // .page_title
    section.ls.page_content.s-py-xl-110.s-py-md-90.s-py-60.c-gutter-60
      .container(style="max-width: 80%")
        .row
          .col-12
            .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(style='margin-top: 40px;')
          nav
            a(href='https://webdesign-finder.com/armashop') Головна
            | &nbsp;/ Магазин
          header
          
          #content_products.col-12.col-xs-12.col-lg-9.col-xl-9.order-lg-2.column-main
            .products-selection
              p(style="margin-bottom: 0")
                | Показано результатів: #{data.products.length}
              form(method='get')
                .select-wrap
                  select.orderby(name='orderby' aria-label='Shop order')
                    option(value='menu_order' selected='selected') Сортувати по замовчуванню
                    option(value='popularity') За популярність
                    option(value='rating') За рейтингом
                    option(value='date') За новизною
                    option(value='price') За ціною: низька - висока
                    option(value='price-desc') За ціною: висока - низька
            ul.products.columns-3
              each product in data.products
                if !product.hidden
                  li.has-post-thumbnail.product.type-product.post-582.status-publish.first.instock.product_cat-equipment.featured.shipping-taxable.purchasable.product-type-simple
                    .product-inner
                      .product-img(style="max-width: 100%; margin: 0 auto;")
                        a(href='/product/' + product._id)
                          img(src='/' + product.images[0]   width='900' height='900')
                      .wrap-header
                        h2
                          a(href='/product/' + product._id ) #{product.name.slice(0, 15)}...
                        span.cat-product
                          a(href='/product/' + product._id  rel='tag') Equipment
                      // close product-wrap
                      .wrap-footer
                        span.price
                          span
                            span
                            | 90
                            sup 00
                        .product-button
                          a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart(href='#' data-quantity='1' data-product_id=product._id rel='nofollow') В корзину
                  
            nav.woocommerce-pagination
              ul.page-numbers
                li
                  span.page-numbers.current(aria-current='page') 1
                //- li
                //-   a.page-numbers(href='/') 2
                //- li
                //-   a.next.page-numbers(href='/') &rarr;

          aside.col-12.col-xs-12.col-lg-3.col-xl-3.order-lg-1.column-sidebar
            .widget-theme-wrapper.widget_no_background
              #search-3.widget.widget_search
                form.search-form(role='search' method='get' action='/')
                  .form-group
                    label
                      span.screen-reader-text Search for:
                      input.search-field.form-control(type='search' placeholder='Пошук' name='s')
                  button.search-submit(type='submit')
                    span.screen-reader-text Пошук
            .widget-theme-wrapper.widget_no_background
              #woocommerce_product_categories-2.widget
                h3.widget-title Категорії
                ul.product-categories
                  each category in data.categories
                    if category.parentId
                      li.cat-item.cat-item-27
                        a(href='/store/categories/' + category.slug) #{category.name}
                  
            //- .widget-theme-wrapper.widget_no_background
            //-   #woocommerce_recently_viewed_products-2.widget.widget_recently_viewed_products
            //-     h3.widget-title Товари які ви переглядали
            //-     ul.product_list_widget
            //-       each val in [1, 2, 3]
            //-         li
            //-           a(href='/store')
            //-             img(src='/img/store/shopoptics4.png'  width='900' height='900')
            //-             span.product-title Cruiser, Pistol Of The World
            //-           span
            //-             span
            //-             | 18
            //-             sup 00
          .col-12
            .fw-divider-space.hidden-xs.hidden-sm.hidden-md.hidden-lg.hidden-xl(style='margin-top: 40px;')
    include ../components/footer.pug
    include ../components/footer-js.pug
