script(src='/libs/jquery/jquery.js')
script(src='/libs/popper/popper.js')
script(src='/js/bootstrap.js')
script(src='/libs/perfect-scrollbar/perfect-scrollbar.js')
script(src='/js/menu.js' type="module")
script(src='/libs/apex-charts/apexcharts.js')
script(src='/js/main.js' type="module")
script(src='/js/dashboards-analytics.js' type="module")
