aside#layout-menu.layout-menu.menu-vertical.menu.bg-menu-theme
  .app-brand.demo
    a.app-brand-link(href='/admin')
      span.app-brand-logo.demo
        img(src="/img/brand/logo.png" alt="" style="max-width: 100%")
    a.layout-menu-toggle.menu-link.text-large.ms-auto.d-block.d-xl-none(href='javascript:void(0);')
      i.bx.bx-chevron-left.bx-sm.align-middle
  .menu-inner-shadow
  ul.menu-inner.py-1
    // Dashboard
    li.menu-item(class = data.name === 'dashboard' ? 'active' : '')
      a.menu-link(href='/admin')
        i.menu-icon.tf-icons.bx.bxs-dashboard
        div(data-i18n='Analytics') Главная
    li.menu-header.small.text-uppercase
      span.menu-header-text Страницы
    li.menu-item
      a.menu-link(href='/')
        i.menu-icon.tf-icons.bx.bx-home-alt
        div(data-i18n='Tables') Домашняя
    li.menu-item(class = data.name === 'contacts' ? 'active' : '')
      a.menu-link.menu-toggle(href='javascript:void(0);')
        i.menu-icon.tf-icons.bx.bxs-contact
        div Контакты
      ul.menu-sub
        li.menu-item
          a.menu-link(href='/contacts')
            div Посмотреть
        li.menu-item(class = data.name === 'contacts' ? 'active' : '')
          a.menu-link(href='/admin/contacts')
            div Редактировать
    li.menu-item(class = data.name === 'misc' ? 'active' : '')
      a.menu-link(href='/admin/misc')
        i.menu-icon.tf-icons.bx.bx-cube-alt
        div(data-i18n='Tables') Разное
    // Components
    li.menu-header.small.text-uppercase
      span.menu-header-text Базы данных
    // Cards
    li.menu-item(class = data.name === 'products' ? 'active' : '')
      a.menu-link.menu-toggle(href='javascript:void(0);')
        i.menu-icon.tf-icons.bx.bx-store-alt
        div(data-i18n='Misc') Товары
      ul.menu-sub
        li.menu-item
          a.menu-link(href='/admin/products')
            div(data-i18n='Error') Список товаров
        li.menu-item
          a.menu-link(href='/admin/product/new')
            div(data-i18n='Under Maintenance') Добавить
        li.menu-item
          a.menu-link(href='/admin/categories/new')
            div(data-i18n='Under Maintenance') Создать категорию


            
    //- li.menu-item(class = data.name === 'comments' ? 'active' : '')
    //-   a.menu-link.menu-toggle(href='cards-basic.html')
    //-     i.menu-icon.tf-icons.bx.bx-message-alt-dots
    //-     div(data-i18n='Basic') Комментарии
    //-   ul.menu-sub
    //-     li.menu-item(class = data.name === 'comments' ? 'active' : '')
    //-       a.menu-link(href='/admin/products/comments')
    //-         div(data-i18n='Error') Список комментариев
    //- li.menu-item(class = data.name === 'providers' ? 'active' : '')
    //-   a.menu-link.menu-toggle(href='cards-basic.html')
    //-     i.menu-icon.tf-icons.bx.bx-package
    //-     div(data-i18n='Basic') Поставщики
    //-   ul.menu-sub
    //-     li.menu-item(class = data.name === 'providers' ? 'active' : '')
    //-       a.menu-link(href='/admin/products/providers')
    //-         div(data-i18n='Error') Список поставщиков
    //-     li.menu-item
    //-       a.menu-link(href='pages-misc-under-maintenance.html')
    //-         div(data-i18n='Under Maintenance') Добавить поставщика
    //- li.menu-item
    //-   a.menu-link.menu-toggle(href='cards-basic.html')
    //-     i.menu-icon.tf-icons.bx.bxs-user
    //-     div(data-i18n='Basic') Пользователи
    //-   ul.menu-sub
    //-     li.menu-item
    //-       a.menu-link(href='pages-misc-error.html')
    //-         div(data-i18n='Error') Список товаров
    //-     li.menu-item
    //-       a.menu-link(href='pages-misc-under-maintenance.html')
    //-         div(data-i18n='Under Maintenance') Добавить товар
    //-     li.menu-item
    //-       a.menu-link(href='pages-misc-under-maintenance.html')
    //-         div(data-i18n='Under Maintenance') Акции
    //- li.menu-header.small.text-uppercase
    //-   span.menu-header-text Администрирование
    //- li.menu-item(class = data.name === 'dash' ? 'active' : '')
    //-   a.menu-link.menu-toggle(href='javascript:void(0);')
    //-     i.menu-icon.tf-icons.bx.bx-globe
    //-     div Сайт
    //-   ul.menu-sub
    //-     li.menu-item
    //-       a.menu-link(href='/contacts')
    //-         div Посмотреть
    //-     li.menu-item(class = data.name === 'dash' ? 'active' : '')
    //-       a.menu-link(href='/admin/contacts')
    //-         div Редактировать
    //- li.menu-item(class = data.name === 'dash' ? 'active' : '')
    //-   a.menu-link.menu-toggle(href='javascript:void(0);')
    //-     i.menu-icon.tf-icons.bx.bxs-key
    //-     div Панель
    //-   ul.menu-sub
    //-     li.menu-item
    //-       a.menu-link(href='/contacts')
    //-         div Права доступа
    //-     li.menu-item(class = data.name === 'dash' ? 'active' : '')
    //-       a.menu-link(href='/admin/contacts')
    //-         div Формы
    li.menu-header.small.text-uppercase
      span.menu-header-text Другое
    li.menu-item(class = data.name === 'dash' ? 'active' : '')
      a.menu-link(href='javascript:void(0);')
        i.menu-icon.tf-icons.bx.bx-help-circle
        div Поддержка
