aside#layout-menu.layout-menu.menu-vertical.menu.bg-menu-theme
  .app-brand.demo
    a.app-brand-link(href='/admin')
      span.app-brand-logo.demo
        img(src="/img/brand/logo.png" alt="" style="max-width: 100%")
    a.layout-menu-toggle.menu-link.text-large.ms-auto.d-block.d-xl-none(href='javascript:void(0);')
      i.bx.bx-chevron-left.bx-sm.align-middle
  .menu-inner-shadow
  ul.menu-inner.py-1
    // Dashboard
    li.menu-item(class = data.name === 'dashboard' ? 'active' : '')
      a.menu-link(href='/admin')
        i.menu-icon.tf-icons.bx.bxs-dashboard
        div(data-i18n='Analytics') Главная
    li.menu-header.small.text-uppercase
      span.menu-header-text Страницы
    li.menu-item
      a.menu-link(href='tables-basic.html')
        i.menu-icon.tf-icons.bx.bx-home-alt
        div(data-i18n='Tables') Домашняя
    li.menu-item(class = data.name === 'contacts' ? 'active' : '')
      a.menu-link.menu-toggle(href='javascript:void(0);')
        i.menu-icon.tf-icons.bx.bxs-contact
        div Контакты
      ul.menu-sub
        //- li.menu-item
        //-   a.menu-link(href='pages-account-settings-account.html')
        //-     div(data-i18n='Account') Account
        //- li.menu-item
        //-   a.menu-link(href='pages-account-settings-notifications.html')
        //-     div(data-i18n='Notifications') Notifications
        li.menu-item
          a.menu-link(href='/contacts')
            div Посмотреть
        li.menu-item(class = data.name === 'contacts' ? 'active' : '')
          a.menu-link(href='/admin/contacts')
            div Редактировать
    li.menu-item(class = data.name === 'misc' ? 'active' : '')
      a.menu-link(href='/admin/misc')
        i.menu-icon.tf-icons.bx.bx-cube-alt
        div(data-i18n='Tables') Разное
    // Components
    li.menu-header.small.text-uppercase
      span.menu-header-text Базы данных
    // Cards
    li.menu-item(class = data.name === 'products' ? 'active' : '')
      a.menu-link.menu-toggle(href='javascript:void(0);')
        i.menu-icon.tf-icons.bx.bx-store-alt
        div(data-i18n='Misc') Товары
      ul.menu-sub
        li.menu-item
          a.menu-link(href='/admin/products')
            div(data-i18n='Error') Список товаров
        li.menu-item
          a.menu-link(href='/admin/product/new')
            div(data-i18n='Under Maintenance') Добавить
    li.menu-item(class = data.name === 'comments' ? 'active' : '')
      a.menu-link.menu-toggle(href='cards-basic.html')
        i.menu-icon.tf-icons.bx.bx-message-alt-dots
        div(data-i18n='Basic') Комментарии
      ul.menu-sub
        li.menu-item(class = data.name === 'comments' ? 'active' : '')
          a.menu-link(href='/admin/products/comments')
            div(data-i18n='Error') Список комментариев
    li.menu-item(class = data.name === 'providers' ? 'active' : '')
      a.menu-link.menu-toggle(href='cards-basic.html')
        i.menu-icon.tf-icons.bx.bx-package
        div(data-i18n='Basic') Поставщики
      ul.menu-sub
        li.menu-item(class = data.name === 'providers' ? 'active' : '')
          a.menu-link(href='/admin/products/providers')
            div(data-i18n='Error') Список поставщиков
        li.menu-item
          a.menu-link(href='pages-misc-under-maintenance.html')
            div(data-i18n='Under Maintenance') Добавить поставщика
    li.menu-item
      a.menu-link.menu-toggle(href='cards-basic.html')
        i.menu-icon.tf-icons.bx.bxs-user
        div(data-i18n='Basic') Пользователи
      ul.menu-sub
        li.menu-item
          a.menu-link(href='pages-misc-error.html')
            div(data-i18n='Error') Список товаров
        li.menu-item
          a.menu-link(href='pages-misc-under-maintenance.html')
            div(data-i18n='Under Maintenance') Добавить товар
        li.menu-item
          a.menu-link(href='pages-misc-under-maintenance.html')
            div(data-i18n='Under Maintenance') Акции
    li.menu-header.small.text-uppercase
      span.menu-header-text Администрирование
    li.menu-item(class = data.name === 'dash' ? 'active' : '')
      a.menu-link.menu-toggle(href='javascript:void(0);')
        i.menu-icon.tf-icons.bx.bx-globe
        div Сайт
      ul.menu-sub
        li.menu-item
          a.menu-link(href='/contacts')
            div Посмотреть
        li.menu-item(class = data.name === 'dash' ? 'active' : '')
          a.menu-link(href='/admin/contacts')
            div Редактировать
    li.menu-item(class = data.name === 'dash' ? 'active' : '')
      a.menu-link.menu-toggle(href='javascript:void(0);')
        i.menu-icon.tf-icons.bx.bxs-key
        div Панель
      ul.menu-sub
        li.menu-item
          a.menu-link(href='/contacts')
            div Права доступа
        li.menu-item(class = data.name === 'dash' ? 'active' : '')
          a.menu-link(href='/admin/contacts')
            div Формы
    li.menu-header.small.text-uppercase
      span.menu-header-text Другое
    li.menu-item(class = data.name === 'dash' ? 'active' : '')
      a.menu-link(href='javascript:void(0);')
        i.menu-icon.tf-icons.bx.bx-help-circle
        div Поддержка
    // User interface
    //
      <li class="menu-item">
      <a href="javascript:void(0)" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bx bx-box"></i>
      <div data-i18n="User interface">User interface</div>
      </a>
      <ul class="menu-sub">
      <li class="menu-item">
      <a href="ui-accordion.html" class="menu-link">
      <div data-i18n="Accordion">Accordion</div>
      </a>
      </li>
      <li class="menu-item">
      <a href="ui-alerts.html" class="menu-link">
      <div data-i18n="Alerts">Alerts</div>
      </a>
      </li>
      <li class="menu-item">
      <a href="ui-badges.html" class="menu-link">
      <div data-i18n="Badges">Badges</div>
      </a>
      </li>
      <li class="menu-item">
      <a href="ui-buttons.html" class="menu-link">
      <div data-i18n="Buttons">Buttons</div>
      </a>
      </li>
      <li class="menu-item">
      <a href="ui-carousel.html" class="menu-link">
      <div data-i18n="Carousel">Carousel</div>
      </a>
      </li>
      <li class="menu-item">
      <a href="ui-collapse.html" class="menu-link">
      <div data-i18n="Collapse">Collapse</div>
      </a>
      </li>
      <li class="menu-item">
      <a href="ui-dropdowns.html" class="menu-link">
      <div data-i18n="Dropdowns">Dropdowns</div>
      </a>
      </li>
      <li class="menu-item">
      <a href="ui-footer.html" class="menu-link">
      <div data-i18n="Footer">Footer</div>
      </a>
      </li>
      <li class="menu-item">
      <a href="ui-list-groups.html" class="menu-link">
      <div data-i18n="List Groups">List groups</div>
      </a>
      </li>
      <li class="menu-item">
      <a href="ui-modals.html" class="menu-link">
      <div data-i18n="Modals">Modals</div>
      </a>
      </li>
      <li class="menu-item">
      <a href="ui-navbar.html" class="menu-link">
      <div data-i18n="Navbar">Navbar</div>
      </a>
      </li>
      <li class="menu-item">
      <a href="ui-offcanvas.html" class="menu-link">
      <div data-i18n="Offcanvas">Offcanvas</div>
      </a>
      </li>
      <li class="menu-item">
      <a href="ui-pagination-breadcrumbs.html" class="menu-link">
      <div data-i18n="Pagination &amp; Breadcrumbs">Pagination &amp; Breadcrumbs</div>
      </a>
      </li>
      <li class="menu-item">
      <a href="ui-progress.html" class="menu-link">
      <div data-i18n="Progress">Progress</div>
      </a>
      </li>
      <li class="menu-item">
      <a href="ui-spinners.html" class="menu-link">
      <div data-i18n="Spinners">Spinners</div>
      </a>
      </li>
      <li class="menu-item">
      <a href="ui-tabs-pills.html" class="menu-link">
      <div data-i18n="Tabs &amp; Pills">Tabs &amp; Pills</div>
      </a>
      </li>
      <li class="menu-item">
      <a href="ui-toasts.html" class="menu-link">
      <div data-i18n="Toasts">Toasts</div>
      </a>
      </li>
      <li class="menu-item">
      <a href="ui-tooltips-popovers.html" class="menu-link">
      <div data-i18n="Tooltips & Popovers">Tooltips &amp; popovers</div>
      </a>
      </li>
      <li class="menu-item">
      <a href="ui-typography.html" class="menu-link">
      <div data-i18n="Typography">Typography</div>
      </a>
      </li>
      </ul>
      </li>
    // Extended components
    //
      <li class="menu-item">
      <a href="javascript:void(0)" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bx bx-copy"></i>
      <div data-i18n="Extended UI">Extended UI</div>
      </a>
      <ul class="menu-sub">
      <li class="menu-item">
      <a href="extended-ui-perfect-scrollbar.html" class="menu-link">
      <div data-i18n="Perfect Scrollbar">Perfect scrollbar</div>
      </a>
      </li>
      <li class="menu-item">
      <a href="extended-ui-text-divider.html" class="menu-link">
      <div data-i18n="Text Divider">Text Divider</div>
      </a>
      </li>
      </ul>
      </li>
      <li class="menu-item">
      <a href="icons-boxicons.html" class="menu-link">
      <i class="menu-icon tf-icons bx bx-crown"></i>
      <div data-i18n="Boxicons">Boxicons</div>
      </a>
      </li>
    // Forms & Tables
    //- li.menu-header.small.text-uppercase
    //-   span.menu-header-text Администрирование
    //- // Forms
    //- li.menu-item
    //-   a.menu-link.menu-toggle(href='javascript:void(0);')
    //-     i.menu-icon.tf-icons.bx.bx-detail
    //-     div(data-i18n='Form Elements') Form Elements
    //-   ul.menu-sub
    //-     li.menu-item
    //-       a.menu-link(href='forms-basic-inputs.html')
    //-         div(data-i18n='Basic Inputs') Basic Inputs
    //-     li.menu-item
    //-       a.menu-link(href='forms-input-groups.html')
    //-         div(data-i18n='Input groups') Input groups
    //- li.menu-item
    //-   a.menu-link.menu-toggle(href='javascript:void(0);')
    //-     i.menu-icon.tf-icons.bx.bx-detail
    //-     div(data-i18n='Form Layouts') Form Layouts
    //-   ul.menu-sub
    //-     li.menu-item
    //-       a.menu-link(href='form-layouts-vertical.html')
    //-         div(data-i18n='Vertical Form') Vertical Form
    //-     li.menu-item
    //-       a.menu-link(href='form-layouts-horizontal.html')
    //-         div(data-i18n='Horizontal Form') Horizontal Form
    //- // Tables
    //- li.menu-item
    //-   a.menu-link(href='tables-basic.html')
    //-     i.menu-icon.tf-icons.bx.bx-table
    //-     div(data-i18n='Tables') Tables
    //- // Misc
