doctype html
head
  meta(http-equiv='content-type' content='text/html; charset=UTF-8')
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title UArmor | Just another WordPress site
  link(rel='icon' type='image/x-icon' href=data.misc.favicon)
  link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css")
  link(rel='stylesheet' href='/generall/css/owl.theme.default.min.css')
  link(rel='stylesheet' href='/generall/css/style.css' type='text/css')
  link(rel='stylesheet' href='/generall/css/style_003.css' type='text/css')
  link(rel='stylesheet' href='/generall/css/css.css' type='text/css')
  link(rel='stylesheet' href='/generall/css/shop.css' type='text/css')
  link(rel='stylesheet' href='/generall/css/bootstrap.css' type='text/css')
  
  link(rel='stylesheet' href='/generall/css/main.css' type='text/css')
  link(rel='stylesheet' href='/generall/css/style_002.css' type='text/css')
  link(rel='stylesheet' href='/generall/css/styles.css' type='text/css')
  link(rel='stylesheet' href='/generall/css/owl.carousel.min.css')
