.page_header_wrapper.ds.affix-top-wrapper(style='height: 90px;')
  header.page_header.s-py-40.ds.affix-top
    .container-fluid
      .row.align-items-center
        .col-xl-2.col-lg-3.col-md-7.col-9
          a.logo.logo_image_and_text(href='/' rel='home')
            img(src= '/' + data.misc.logoInverse alt='uarmor')
        .col-xl-10.col-lg-9.col-md-5.col-1
          .nav-wrap
            nav.top-nav
              ul#menu-main-menu.sf-menu.nav.sf-js-enabled.sf-arrows(style='touch-action: pan-y;')
                li#menu-item-156.menu-item.menu-item-type-post_type.menu-item-object-page
                  a(href='/') Головна
                li#menu-item-156.menu-item.menu-item-type-post_type.menu-item-object-page
                  a(href='/about') Про нас
                li#menu-item-156.menu-item.menu-item-type-post_type.menu-item-object-page
                  a(href='/store/category') Магазин
                li#menu-item-156.menu-item.menu-item-type-post_type.menu-item-object-page
                  a(href='/contacts') Контакти
            .d-none.d-xl-flex.align-items-center
              .widget.widget_search
                form(role='search' method='get' action='/store/category/')
                  input.search-field.form-control.search(name="search" placeholder='Пошук товарів…')
                  button(type='submit' value='Пошук') <ion-icon name="search"></ion-icon>
                  input(type='hidden' name='post_type' value='product')
                
              .dropdown.dropdown-shopping-cart.show(data-dropdown-cart="")      
                  
                  a#dropdown-cart(href='javascript:void(0);' role='button' data-dropdown-toggle="" @click="navShow = !navShow")
                    span.badge.bg-maincolor.cart-count
                    ion-icon(name='cart' style="vertical-align: middle; display:inline-block; font-size: 1.5em; transform: translateY(-10%)")
                    span.cart-total(style="font-weight: bold; padding-left: 0.3em; color: #f2c014; " v-if="cartLen") ({{cartLen}})
                    span.cart-total(style="font-weight: bold; padding-left: 0.3em; color: #f2c014; " v-else) (0)
                  .dropdown-menu.dropdown-menu-right.p-lg-40.p-20.ls(aria-labelledby='dropdown-cart' :class="{ show: navShow }" x-placement='bottom-end'  style='position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-258px, 24px, 0px); max-height: 620px; overflow-y: scroll;' data-dropdown-menu="")
                    .widget.woocommerce.widget_shopping_cart(v-if="cartLen")
                      .widget_shopping_cart_content
                          ul.woocommerce-mini-cart.cart_list.product_list_widget(v-if="cart?.products")
                            li.woocommerce-mini-cart-item.mini_cart_item(v-for="item in cart.products")
                              a(:href="'/store/product/' + item.productId.slug")
                                img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail(:src="'/' + item.productId.images[0]" alt='')
                              .minicart-product-meta
                                a(:href="'/store/product/' + item.productId.slug") {{item.productId.name}}
                                span.quantity
                                  | {{item.quantity}} &times; 
                                  span.woocommerce-Price-amount.amount
                                    span.woocommerce-Price-currencySymbol &pound;
                                    | {{item.productId.price}}
                                    sup 00
                            
                          p.woocommerce-mini-cart__total.total
                            strong Загалом:
                            span.woocommerce-Price-amount.amount()
                              span &pound;
                              | {{ cart.total }}
                              sup 00
                          div.woocommerce-mini-cart__buttons.buttons.d-flex
                            a.button.wc-forward(href='/cart/') Переглянути
                            a.button.checkout.wc-forward(href='/order/') Придбати
                    .widget.woocommerce.widget_shopping_cart(v-else)
                      .widget_shopping_cart_content
                        p(style="width: 100%; text-align: center") Ваша корзина порожня
    span.toggle_menu
      span
  
    